h1 {
    background-color: #333333; 
    color: #eee;
    font-size: 28px;
    margin: 0;
    padding: 0;
    text-align: center;
    }

h2 {
    font-size: 24px;
    }

.container {
    Width: 1024px;
    margin: 0 auto;
    background-color: #efeee7; 
    font-family: "Georgia", Times New Roman, Times, serif;
    color: #333333;
    }   

body {
    margin: 0;
    padding: 0;
    }    

#main-bio {
    float: left;
    width: 70%;
    }    

#contact-info {
    float: left;
    width: 30%;
    line-height: 1.5;

    }

#bio-image {
    float: left;
    width: 200px;
    margin: 8px;
    }

a:link {
    color:#d21034;
} 